@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  font-family: -apple-system, 'Inter', sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
}

.dark_mode {
  --body-bg: #1A1A1A;
  --card-bg: #555;
  --card-bd-col: #1A1A1A;
  --text-color: #f5f5f5;
}

body {
  background: var(--body-bg);
}

header {
  z-index: 2;
}

header .logo {
  width: 140px;
}

h2,
h1 {
  color: var(--text-color);
}

.btn_floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
}

.btn_floating {
  width: 250px
}

.nav_icons img {
  width: 90%;
  padding: 5px;
}

.loc .barra_lateral {
  position: absolute;
  left: 0px;
  z-index: -1;
}


footer {
  border-radius: 40px 40px 0px 0px;
}

footer i {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
}

@media (min-width: 769px) {
  .loc .loc_title {
    padding-left: 250px;
  }

  .hero {
    position: relative;
    bottom: 5px;
  }
}

@media (max-width: 768px) {
  .loc .barra_lateral {
    width: 80%;
    position: absolute;
    z-index: -1;
  }

  .loc .loc_title {
    padding-top: 70px;
  }
  .btn_floating {
    width: 200px
  }
}