@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: -apple-system, 'Inter', sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
}

.dark_mode {
  --body-bg: #252525;
  --card-bg: #555;
  --card-bd-col: #212121;
  --text-color: #f5f5f5;
}

body {
  background: var(--body-bg);
}

header {
  background: var(--card-bg);
}

.card>h2 {
  color: var(--text-color);
}

#theme_toggler {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #0096c3;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}